<h1>New signup</h1>

<%= error_messages_for :signup %>

<% form_for(:signup, :url => signups_path) do |form| %>
  <p>
    <b>Ip Address</b><br />
    <%= form.text_field :ip_address, :disabled => true %>
  </p>
  
  <hr />
  <p><b>New User details</b>:</p>
  <%= render :partial => 'users/form', :locals => {:form => form} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', signups_path %>