Dear <%= @user.name %>,

Welcome, you have successfully activated your <%= @cadre_name %> account!

If at any point you forget your password, please visit:

  <<%= request_reset_password_url(@user.id) %>>
  
If you wish to change your account details, please visit:
  
  <<%= account_url %>>
  
Thanks,
The <%= @cadre_name %> Team
<%= @cadre_name %> <<%= @cadre_home %>>