Dear <%= @user.name %>,

You have recently requested that your <%= @cadre_name %> password be reset.  To do this, you need to visit:

  <<%= reset_password_url(:request_id => @request.id, :request_key => @request.key) %>>
  
Thanks,
The <%= @cadre_name %> Team
<%= @cadre_name %> <<%= @cadre_home %>>


Note. If you did NOT request to have your password reset, you can safely ignore this email.  Your password will only be reset if you follow the above line and change it yourself.