<p>
  <b>Email</b><br />
  <%= form.text_field :email %>
</p>

<p>
  <b>Confirm email</b><br />
  <%= form.confirmation_text_field :email %>
</p>

<p>
  <b>Display name (optional)</b><br />
  <%= form.text_field :display_name %>
</p>

<p>
  <b>Password</b><br />
  <%= form.password_field :password %>
</p>

<p>
  <b>Confirm password</b><br />
  <%= form.confirmation_password_field :password %>
</p>
