<p>
  <b>Type:</b>
  <%=h @event.type %>
</p>

<p>
  <b>Ip address:</b>
  <%=h @event.ip_address %>
</p>

<p>
  <b>Created at:</b>
  <%=h @event.created_at %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>