Dear <%= @signup.user.name %>,

You have recently signed up to be a user of <%= CADRE_NAME %>.  To activate your account please visit:

  <%= @activation_url %>
  
Thanks,
<%= CADRE_NAME %> - <http://<%= CADRE_HOST %>>


--
Note. If you did not signup for a <%= CADRE_NAME %> account, or signed up in error, then you can either ignore this email, or visit: <%= @false_signup_url %>